body {
    background: linear-gradient(-45deg, #ee9352, #cd883f, #e2b052, #e19317);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.contenu {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 5px solid black;
    width: 25%;
    background-color: rgb(237, 171, 78);
    justify-content: flex-end;
    margin-left: 700px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenu #poids {
    margin-top: 10px;
    font-weight: bold;
}

input {
    text-align: center;
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: rgb(161, 109, 35);
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    background-color: rgb(76, 49, 11);
    color: white;
}

.indication {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
td:nth-child(1) {
    background-color: #FAD02E;
}

th,
td:nth-child(2) {
    background-color: #76D7C4;
}

th,
td:nth-child(3) {
    background-color: #F1948A;
}

th,
td:nth-child(4) {
    background-color: #D98880;
    color: #fff;
}

th,
td:nth-child(5) {
    background-color: #C0392B;
    color: #fff;
}

th,
td:nth-child(6) {
    background-color: #92352c;
    color: #fff;
}

th,
td:nth-child(2n) {
    font-weight: bold;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}