html,
body {
    background-color: burlywood;
}

.contenu {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* margin-top: 150px; Supprimez cette ligne */
    border-radius: 5px solid black;
    width: 25%;
    background-color: rgb(187, 152, 104);
    justify-content: flex-end;
    margin-left: 700px;
    /* margin-top: 250px; Supprimez cette ligne */
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenu #poids {
    margin-top: 10px;
    font-weight: bold;
}

input {
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: rgb(161, 109, 35);
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    background-color: rgb(76, 49, 11);
    color: white;
}

.indication {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
td:nth-child(1) {
    background-color: #FAD02E;
}

th,
td:nth-child(2) {
    background-color: #76D7C4;
}

th,
td:nth-child(3) {
    background-color: #F1948A;
}

th,
td:nth-child(4) {
    background-color: #D98880;
    color: #fff;
}

th,
td:nth-child(5) {
    background-color: #C0392B;
    color: #fff;
}

th,
td:nth-child(6) {
    background-color: #7B241C;
    color: #fff;
}

th,
td:nth-child(2n) {
    font-weight: bold;
}